*.py[cod]
*~
MANIFEST

# C extensions
*.so
*.lo
*.o

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64


# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Doc
.buildinfo
.doctrees
_build

# CMake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
null.d
*.pc
cmake-build-*

# Custom pre-commit
_build-pre-commit
compile_commands.json

# cibuildwheel
wheelhouse/

example/a.out
example/defs_basis.mod
example/example
example/spglib_f08.mod

test/getspg.bundle
test/mkmf.log
test/Testing

findsym.log

spglib_test*
test-suite.log

.vscode/
docs_build/
CMakeUserPresets.json

/python/spglib/_version.py
venv
env
.venv
.env
