language: python
sudo: required
dist: trusty

python:
    - "2.7"
    - "3.5"
    
virtualenv:
  system_site_packages: true

# command to install dependencies
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq python-numpy python-scipy python3-scipy python3-numpy python-matplotlib python3-matplotlib
    
install: 
    - pip install --upgrade pip
#    - pip install -r requirements.txt

# command to run tests
#script: nosetests

